body {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #f3f5f7;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.copyright {
    color: #ffffff;
}

.navbar-fixed-top {
    border-bottom: 1px solid #ddd;
    background: white;
}

.navbar-fixed-top a {
    color: #717171;
    font-size: 18px;
}

.navbar-brand {
    width: 213.5px;
    margin: 0 15px;
}

.navbar-nav {
    margin: 0 15px;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well {
    border: none;
    background-color: white;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}
