body {
    padding-top: 70px;
    padding-bottom: 0;
    background: #f3f5f7;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.centered {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.copyright {
    color: #ffffff;
}

.navbar-fixed-top {
    border-bottom: 1px solid #ddd;
    background: white;
}

.navbar-fixed-top a {
    color: #717171;
    font-size: 18px;
}

.navbar-brand,
.navbar-nav {
    margin: 0 15px;
}

@media (min-width: 992px) {
    .navbar-brand {
        width: 213.5px;
    }
}

@media (min-width: 1200px) {
    .navbar-brand {
        width: 262.5px;
    }
}

.footer {
    text-align: center;
    margin: 20px -15px 0;
}

.footer p {
    margin: 0;
    padding: 10px;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well {
    border: none;
    background-color: white;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}

.icon-bar {
    border: 1.2px solid #717171;
}

.sidebar ul {
    padding-left: 20px;
}

table.basic-table {
    margin-bottom: 15px;
}

table.basic-table td,
table.basic-table th {
    padding: 8px;
    border: 1px solid;
    text-align: center;
}

table.basic-table tr td:first {
    text-align: right;
}

table.w60 th {
    width: 60px;
    max-width: 100%;
}
