body {
    padding-top: 70px;
    padding-bottom: 0;
    background: #f3f5f7;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.centered {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.copyright {
    color: #ffffff;
}

.navbar-fixed-top {
    border-bottom: 1px solid #ddd;
    background: white;
}

    .navbar-fixed-top a {
        color: #717171;
        font-size: 18px;
    }

.navbar-brand,
.navbar-nav {
    margin: 0 15px;
}

@media (min-width: 992px) {
    .navbar-brand {
        width: 213.5px;
    }
}

@media (min-width: 1200px) {
    .navbar-brand {
        width: 262.5px;
    }
}

.footer {
    text-align: center;
    margin: 20px -15px 0;
}

    .footer p {
        margin: 0;
        padding: 10px;
    }

    .footer a {
        color: #ee4444;
    }

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar h2 {
    color: black;
    font-weight: bold;
    font-size: 1em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well {
    border: none;
    background-color: white;
    box-shadow: none;
    -webkit-box-shadow: none;
}

    .well h1 {
        color: #ee4444;
        font-size: 1.3em;
    }

    .well h2 {
        color: black;
        font-weight: bold;
        font-size: 1em;
    }

.author {
    color: #ee4444;
}

    .author a {
        color: #ee4444;
    }

.icon-bar {
    border: 1.2px solid #717171;
}

.sidebar ul {
    padding-left: 20px;
}

.table-wrapper {
    max-width: 100%;
    overflow: auto;
    margin-bottom: 15px;
}

table.basic-table {
    margin-bottom: 15px;
}

.table-wrapper table.basic-table {
    margin-bottom: 0;
}

table.basic-table td,
table.basic-table th {
    padding: 8px;
    border: 1px solid;
    text-align: center;
}

table.basic-table tr td:first {
    text-align: right;
}

table.w60 th {
    width: 60px;
    max-width: 100%;
}

.tag-list {
    margin: -4px -2px;
}

    .tag-list a.tag {
        display: inline-block;
        margin: 4px 2PX;
    }

.chat-message {
    padding: 10px;
    background-color: #f8f8f8;
    margin: 20px 0;
}

    .chat-message h3 {
        font-size: 22px;
    }

    .chat-message .badge {
        float: right;
        font-size: 0.8em;
        background: #ffffff;
        font-weight: bold;
        padding: 2px 4px;
        margin: -15px -4px 0 0;
        color: black;
        border: 1px solid #cfcfcf;
        border-radius: 4px;
    }
