<!DOCTYPE html>
<html lang="en">

<head>
    {% if site.tags != "" %}
    {% include collect-tags.html %}
    {% endif %}
    <meta charset="UTF-8">
    {% if page.title %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>{{ site.name }}'s blog</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/resources/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/resources/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/resources/favicon/favicon-16x16.png">
    <link rel="manifest" href="/resources/favicon/site.webmanifest">
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/theme.js"></script>
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/css/theme.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/css/syntax.css" rel="stylesheet" type="text/css">
    {% include isso-comments.html %}
</head>

<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="navbar navbar navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
                    <li class="active visible-xs-block"><a href="{{ site.baseurl }}/links.html">Tags</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/archive.html">Archive</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/about.html">About</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/feed.xml">RSS</a></li>
                    {% if site.gitlab != '' %}
                      <li class="active"><a href="https://gitlab.com/{{ site.gitlab }}">Gitlab</a></li>
                    {% endif %}
                    {% if site.github != '' %}
                      <li class="active"><a href="https://github.com/{{ site.github }}">Github</a></li>
                    {% endif %}
                </ul>
              </div>
        </div>
    </div>
</div>
